<div class="about-container">
  <p>Hi, my name is</p>
  <h1 class="title emphasize">Matthew Mishler</h1>
<!--  <h2 class="tagline"><span class="pop">Engineer.</span> DM. Spartan.</h2>-->
<!--  <h2 class="tagline"><span class="pop">Software Engineer.</span> Dungeon Master. Spartan.</h2>-->
  <h1 class="tagline">What can we build <span class="pop">together</span>?</h1>
  <p class="about-me">
    I'm a software engineer, leveraging strong Frontend skills to build out applications for the web.
    I've worked at multiple start-ups, collaborating in close-knit teams, bringing exceptional solutions to reality.
  </p>
</div>
