<div class="links-container">
  <ul style="list-style-type:none">
    <li>
      <a href="https://github.com/mmishler-dev/mmishler-personal-website">
        <mat-icon class="fa" >&#xf09b;</mat-icon>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/matthew-mishler-aa67b281/">
        <mat-icon class="fa">&#xf08c;</mat-icon>
      </a>
    </li>
    <li>
      <a href = "mailto: matthewvmishler@gmail.com">
        <mat-icon class="fa fa-envelope" style="font-size: 24px"></mat-icon>
      </a>
    </li>
  </ul>
</div>
