$light-background-color: #DCD2CBFF;
$light-font-color: #002952;
$light-primary-color: #002952;
$light-secondary-color: #0052A3;
$light-tertiary-color: #501622;


$dark-background-color: #002952;
$dark-font-color: #DCD2CBFF;
$dark-primary-color: #002952;
//$dark-secondary-color: #ADB0C0;
//$dark-secondary-color: #FF6A3D;
//$dark-secondary-color: #3462b1;
$dark-secondary-color: #9cafe2;
$dark-tertiary-color: #501622;
